

    <link href="~/assets/css/fontawsom-all.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
  
   
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/all.min.css" rel="stylesheet" />
  
    <link href="~/assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/sitees.css" />
<!-- =================Body Started==================== -->
<body>
    <header>
        <div class="logo">
            <img src="/images/logos.png" width="125px" />
        </div>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {

                <a asp-area="" asp-controller="Product" asp-action="GetAll">Products</a>

            }
            @if (User.IsInRole("Admin"))
            {

                <a asp-area="" asp-controller="Inventory" asp-action="GetAll">Inventory</a>

            }
            <a asp-area="" asp-controller="Home" asp-action="About">  About Us</a>
            <a href="#services">Services</a>
            <a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
            <a href="#contact">Contact</a>






            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
                <partial name="_LoginPartial" />

            </div>
        </div>


    </header>

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <h2>About Us</h2>
                        <ul>
                            <li>Home<i class="far fa-angle-double-right"></i></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us">
        <div class="container">

            <div class="row natur-row no-margin w-100">
                <div class="text-part col-md-6">
                    <h2>Welcome to <span>---------------------------------</span></h2>
                    <p>
                       -------------------------------------
                    </p>
                    <p>
                      ------------------------
                    </p>

                    <p>
                       ----------------------------------------
                    </p>
                </div>
                <div class="image-part col-md-6">
                    <img src="~/assets/images/abt-01.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="bg-04">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        <h2>Our Trainer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="team-wrapper">
                        <div class="image">
                            <img src="~/assets/images/team/1.jpg">
                        </div>
                        <div class="content">
                            <h4>Daniel</h4>
                            <span>Coach</span>
                            <ul>
                                <li><i class="fab fa-facebook-f"></i></li>
                                <li><i class="fab fa-twitter"></i></li>
                                <li><i class="fab fa-instagram"></i></li>
                                <li><i class="fab fa-pinterest-p"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="team-wrapper">
                        <div class="image">
                            <img src="~/assets/images/team/2.jpg">
                        </div>
                        <div class="content">
                            <h4>Bella</h4>
                            <span>Coach</span>
                            <ul>
                                <li><i class="fab fa-facebook-f"></i></li>
                                <li><i class="fab fa-twitter"></i></li>
                                <li><i class="fab fa-instagram"></i></li>
                                <li><i class="fab fa-pinterest-p"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="team-wrapper">
                        <div class="image">
                            <img src="~/assets/images/team/3.jpg">
                        </div>
                        <div class="content">
                            <h4>Romeo</h4>
                            <span>Coach</span>
                            <ul>
                                <li><i class="fab fa-facebook-f"></i></li>
                                <li><i class="fab fa-twitter"></i></li>
                                <li><i class="fab fa-instagram"></i></li>
                                <li><i class="fab fa-pinterest-p"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-05">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h2>subscribe to our newslaetter! we promice not to spam</h2>
                        <ul>
                            <li>
                                <div class="form-group">
                                    <input class="form-control" role="text" name="Name" placeholder="Enter Your Name">
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input class="form-control" role="text" name="email" placeholder="Enter Your Email">
                                </div>
                            </li>
                            <li>
                                <a href="#">subscribe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-06">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <ul>
                            <li>
                                <i class="fal fa-play-circle"></i>
                                <strong class="text-uppercase">Explore life fitness</strong>
                                <a>Training Vide</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="footer-content">
                        <img src="/images/logos.png" width="125px" />
                        <p>
                            ----------------------------------------------
                        </p>
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-google"></i></li>
                            <li><i class="fab fa-skype"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="footer-content">
                        <h2>Quick Links</h2>
                        <ol>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Home</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>About Us</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Services</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Blog</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="footer-content">
                        <h2>Classes</h2>
                        <ol>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Home</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>About Us</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Services</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Blog</a></li>
                            <li><a href="#"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="footer-content">
                        <h2>News Letters</h2>
                        <p>----------------------------------------</p>
                        <div class="form-group">

                            <a asp-area="" asp-controller="Home" asp-action="ContactUs">
                                Get In Touch
                                <i class="fal fa-paper-plane"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="copy-right-card">
                    <p>Helo World</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<!-- =================Body End==================== -->

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
